.newCollection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: auto;
  margin-top: 20px;
}
.newCollection h1 {
  color: #171717;
  font-size: 50px;
  font-weight: 600;
}
.newCollection hr {
  width: 400px;
  height: 6px;
  border-radius: 10px;
  background: #252525;
}
.collections {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px;
  margin-top: 50px;
  flex-wrap: wrap;
  text-align: center;
}
