.newsLetter {
  width: 100%;
  height: 40vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  padding: 0px 140px;
  margin-bottom: 150px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  gap: 30px;
}
.newsLetter h1 {
  color: #454545;
  font-size: 55px;
  font-weight: 600;
}
.newsLetter p {
  color: #454545;
  font-size: 20px;
}
.newsLetter-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  background: white;
  width: 730px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #e3e3e3;
}
.newsLetter-container input {
  width: 500px;
  margin-left: 10px;
  border: none;
  outline: none;
  color: #616161;
  font-family: sans-serif;
  font-size: 22px;
}
.newsLetter-container-btn button {
  background: linear-gradient(90deg, #ff66b2, #ff6666);
  border-radius: 6px;
  padding: 9px;
  margin-right: 0.2rem;
}
